
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<div class="row">
    <div class="boton">
        <input type="submit" value="Agregar" class="btn btn-primary" onclick="document.location.href= '@Url.Content("~/Ventas/Registrar")'" />
    </div>
</div>




<script>
     function jsDelete(id) {
         if (confirm("esta seguro que desa confirmar?"))
         {
                url = "@Url.Content("~/Proveedores/Eliminar")" + "/" + id;

            $.post(url, function (data)
            {
                if (data == "1")
                {
                      document.location.href = "@Url.Content("~/Proveedores")"
                }
                else
                {
                        alert("ocurrio un problema al eliminar el Proveedor")
                }
            })
         }
     }
</script>